{% extends "back-end/template.html" %}
{% block content %}

            <!-- Ticket Section Start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <!-- Table Start -->
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        {% if slug == 'cancelled_order' %}
                                        <h5>Cancelled Orders</h5>

                                        {% else %}
                                        <h5>Return Orders</h5>
                                        {% endif %}
                                        <input type="text" id="searchInput" class="form-control w-50" style="font-size:15px" placeholder="Search by Order ID">

                                    </div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table ticket-table all-package theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div class="check-box-contain">
                                                                <span>Ticket Number</span>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <span>Order Id</span>
                                                        </th>
                                                        <th>
                                                            <span>Order Status</span>
                                                        </th>
                                                        <th>
                                                            <span>Date</span>
                                                        </th>

                                                        <th>
                                                            <span>Issue</span>
                                                        </th>
                                                      
                                                        <th>
                                                            <span>Options</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in return_orders %}
                                                    <tr>
                                                        <td>
                                                            <div class="check-box-contain">
                                                                <span># {{i.id}}</span>
                                                            </div>
                                                        </td>
                                                        <td id="orderid">{{i.order.id}}</td>
                                                        <td>{{i.order.delivery_status}}</td>

                                                        <td>{{i.created}}</td>
                                                        <td>{{i.issue}}</td>
                                                        
                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-quer="{{i}}">
                                                                        <i class="ri-eye-line"></i>
                                                                    </button>
                                                                </li>
                                                                {% if slug == 'return_order' %}

                                                                 <li>
                                                                    {% if i.refund_initiate %}
                                                                    
                                                                    <a  class="btn btn-success">
                                                                        Refunded
                                                                    </a>
                                                                    {% else %}
                                                                    <a href="{% url 'return_order_list' %}?slug=return_order&return_order_id={{i.id}}&refund_initiate=True" class="btn btn-primary">
                                                                        Initiate Refund
                                                                    </a>
                                                                    {% endif %}
                                                                </li> 
                                                                {% endif %}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <div class="container">
                                                                        <h3 class="modal-title" id="exampleModalLongTitle">Return & Cancelled Order Details </h3>
                                                                        {% if slug == 'return_order' %}

                                                                        {% if i.refund_initiate %}
                                                                        <h5 style="color:green"><b> Refunded</b></h5>

                                                                        {% else %}
                                                                        <h5 style="color:red"><b> Refund  Not Initiated</b></h5>
                                                                        {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-12 col-lg-12 col-sm-6 d-flex">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Name</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.order.customer_name}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">email</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.order.customer_email}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                    

                                                                        <div class="col-12 col-lg-12 col-sm-6 d-flex">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Order Id</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.order.id}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Order Status</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.order.delivery_status}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <h4> Return Product Details</h4>
                                                                        {% for orderitem in i.order_item.all %}
                                                                        <div class="col-12 col-lg-12 col-sm-6 d-flex m-2">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Product Name</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{orderitem.product.name}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Price</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{orderitem.mrp}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {% endfor %}
                                                                        <div class="col-12 col-lg-12 col-sm-6">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Issue</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.issue}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <div class="col-12 col-lg-12 col-sm-6">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Account Holder Name:</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.customer_name}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>

                                                                        <div class="col-12 col-lg-12 col-sm-6">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Bank name:</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.bank_name}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>

                                                                        <div class="col-12 col-lg-12 col-sm-6">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label">Account number:</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.account_no}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>

                                                                        <div class="col-12 col-lg-12 col-sm-6">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label"> IFSC Code:</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.ifsc}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <div class="col-12 col-lg-12 col-sm-6">
                                                                            <div class="mb-md-4 mb-3 pl-2 custom-form">
                                                                                <label for="modal-name" class="form-label"> Created at:</label>
                                                                                <div class="custom-input">
                                                                                    <input type="text" id="modal-name" value="{{i.created}}" class="form-control" disabled>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" id="modal-close-btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    {% comment %} <button type="submit" class="btn btn-primary">Save changes</button> {% endcomment %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            
                                         
<!-- Modal -->


                                            
                                          
                                        </div>
                                    </div>
                                </div>
                                <!-- Table End -->
                            </div>
                        </div>
                    </div>
                </div>
             
                <!-- Footer Start -->
                 
                <!-- Footer End -->
            </div>

            <script>
                // JavaScript function to filter table rows by order ID
                function filterTable() {
                    // Get input value and convert it to lowercase for case-insensitive search
                    var input = document.getElementById('searchInput').value.toLowerCase();
                    
                    // Get the table and table rows
                    var table = document.getElementById('table_id');
                    var rows = table.getElementsByTagName('tr');
            
                    // Loop through all table rows, starting from index 1 to skip the header row
                    for (var i = 1; i < rows.length; i++) {
                        var orderId = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();
            
                        // Check if the current row's order ID contains the input text
                        if (orderId.includes(input)) {
                            rows[i].style.display = ''; // Show the row
                        } else {
                            rows[i].style.display = 'none'; // Hide the row
                        }
                    }
                }
            
                // Attach the filterTable function to the input field's 'input' event
                document.getElementById('searchInput').addEventListener('input', filterTable);
            </script>
                   
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            {% endblock content %}
